
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

.cabecalho{
    height: 100px;
    background-color: rgb(0, 168, 235);
    width: 100%;
    z-index: 12;
    position: fixed;
}

nav{
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fdfdfd;
    font-family: 'Bebas Neue', cursive;
}

nav a:hover{
    text-decoration: underline;
    color: orange;
    text-transform: uppercase;
}

nav input {
    padding:5px; 
  
}

nav button {
    padding: 5px;
    background-color: orange;
    color: white;
}

nav button:hover{
    color: white;
    background-color: rgb(255, 94, 0);
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
